
<form [formGroup]="fipeForm">
    <div class="form-row">
        <div class="col">
            <input formControlName="variacao" class="form-check-input" type="checkbox" value="" id="checkbox-variacao">
            <label class="form-check-label" for="checkbox-variacao">
              Ver últimos 12 meses a partir da referência
            </label>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="select-referencia">Mês Referência</label>
            <select formControlName="referencia" class="form-control" id="select-referencia" [(ngModel)]="fipeRequest.codigoTabelaReferencia">
                <option *ngFor="let ref of listaTabelaReferencia" [value]="ref.Codigo">{{ ref.Mes }}</option>
              </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="select-tipos">Tipos de Veículos</label>
            <select formControlName="tipos" class="form-control" id="select-tipos" [(ngModel)]="fipeRequest.codigoTipoVeiculo" (change)="getFipeMarcas()">
                <option *ngFor="let tp of listaFipeTipos" [value]="tp.id">{{ tp.nome }}</option>
              </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="select-marcas">Marcas</label>
            <select formControlName="marcas" class="form-control" id="select-marcas" (change)="getFipeModelos()" [(ngModel)]="fipeRequest.codigoMarca">
                <option></option>
                <option *ngFor="let m of listaFipeMarcas" [value]="m.Value" >{{ m.Label }}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="select-modelos">Modelos</label>
            <select formControlName="modelos" class="form-control" id="select-modelos" (change)="getFipeAnosModelo()" [(ngModel)]="fipeRequest.codigoModelo">
                <option></option>
                <option *ngFor="let md of listaFipeModelos" [value]="md.Value" >{{ md.Label }}</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label for="select-anos">Anos</label>
            <select formControlName="anos" class="form-control" id="select-anos" [(ngModel)]="fipeRequest.anoModelo"> 
                <option></option>
                <option *ngFor="let am of listaFipeAnosModelo" [value]="am.Value" >{{ am.Label.replace("32000","0 KM") }}</option>
            </select>
        </div>
    </div>
    <hr>
    <button type="button" class="btn btn-primary" (click)="obterFipe(fipeModal)">Enviar</button>
  </form>
  
<div bsModal #fipeModal="bs-modal" class="modal fade" tabindex="-1"
  role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Fipe</h4>
                <button type="button" class="close pull-right" (click)="fipeModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="modal-body" >
                <div class="card" *ngIf="fipe != null && fipeForm.get('variacao').value != true && fipe.length == 1">
                    <div class="card-header text-center">
                        {{fipe[0].Modelo}}
                    </div>
                    <div class="card-body" >
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 alert-success text-center"><h5 class="card-title">Valor: {{fipe[0].Valor}}</h5></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center">Marca: {{fipe[0].Marca}}</div>
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center">Combustível: {{fipe[0].Combustivel}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center">Código Fipe: {{fipe[0].CodigoFipe}}</div>
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center" *ngIf="fipe[0].AnoModelo != undefined">Ano: {{fipe[0].AnoModelo.toString().replace("32000","0 KM") }}</div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                       Mês Referência: {{fipe[0].MesReferencia}}
                    </div>
                </div>
                <div class="card" *ngIf="fipe != null && fipeForm.get('variacao').value == true && fipe.length == 12">
                    <div class="card-header text-center">
                        {{fipe[0].Modelo}}
                    </div>
                    <div class="card-body" *ngFor="let f of (fipe | ordenaFipe)">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 alert-success text-center"><h5 class="card-title">Valor: {{f.Valor}}</h5></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center">Marca: {{f.Marca}}</div>
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center">Combustível: {{f.Combustivel}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center">Código Fipe: {{f.CodigoFipe}}</div>
                            <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6 text-center" *ngIf="f.AnoModelo != undefined">Ano: {{f.AnoModelo.toString().replace("32000","0 KM") }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center">Mês Referência: {{f.MesReferencia}}</div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                       Valores dos últimos 12 meses a partir de {{fipe[0].MesReferencia}}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
